/*------------- header-style----------- */

nav a {
    text-decoration: none;
    color: rgb(15, 15, 15);
    margin-right: 16px;
    font-size: 1.5em;
    padding-left: 10px;
    text-transform: uppercase;
    transition: all 1s;
}

nav a:hover {
    background-color: gray;
    border-radius: 10px;
    color: black;
}